theme = 'PaperMod'
baseURL = 'https://duzan123.github.io/'
languageCode = 'en-us'
title = 'My New Hugo Site'

[menu]
  [[menu.main]]
    identifier = "categories"
    name = "分类"
    url = "/categories/"
    weight = 10
  [[menu.main]]
    identifier = "tags"
    name = "标签"
    url = "/tags/"
    weight = 20
